<h1>Python Workshop</h1>

This notebook will provide an overview of the Python programming language.

It is not meant to be comprehensive but rather serves as an introduction.

For further information, please refer to the following links:


*   [W3Schools Python Tutorial](https://www.w3schools.com/python/)
*   [Tutorialspoint Python Tutorial](https://www.tutorialspoint.com/python/index.htm)
*   [Official Python Tutorial](https://docs.python.org/3/tutorial/)
*   [Python Course](https://www.askpython.com/python-course-for-beginners)
*   [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/)
*   [Python in a Nutshell Book](https://www.oreilly.com/library/view/python-in-a/0596001886/)
*   [Official Python Documentation](https://docs.python.org/3/)

# Jupyter & Google Colaboratory

Python is typically used with a locally installed version of the Python interpreter (either using a simple text editor or an IDE).

This works well for software engineers but data scientists have additional requirements - writing code is just one part of their work. They also must cleanse, visualize and explore data, train models, reproduce, and compare results and document their decisions.

People have come up with a clever way to support these activities by incorporating and **combining** code, text, mathematical expressions, plots, and rich media into one comprehensive tool called a *virtual notebook*.

**Jupyter Notebook** is the most widely used software for creating such notebooks. In fact, the thing you are looking at right now **is** a Jupyter notebook. The cool thing about Jupyter notebooks is that they can be accessed with a **standard web browser** and you don't need to install any special software or libraries.

However, to run instructions (i.e. Python code) in our notebooks we still need to have an execution environment (some kind of server). Therefore, you can either setup and run this server on your own, or you can use a cloud service which handles all of that.

**Google Colaboratory** is such a cloud service. It manages Jupyter notebooks in the cloud and stores them on google drive. All of that completely free of charge. On top of that, Google has added some more features, mostly regarding file sharing and collaboration (e.g., connect to GitHub repositories) and they even provide you with free computing resources (both CPU & GPU).

Everything we will be doing in this workshop will happen inside of a Jupyter notebook running on Google Colab. This is the way most data scientists prefer to work as it allows them to quickly run experiments and try out new things.

Now that we know in which environment we are going to be working in, let's take a closer look at how a notebook is structured.

A notebook consists of a number of cells, each of which can contain text and images (like the cell you are looking at right now) or code (like the following cell):

In [ ]:
# this is a code cell

You might have noticed, that there is a small play button next to the previous code cell when you hover over it. This is because you can actually run the code in these cells directly in your web browser!

Here, try it out in the following cell by clicking the play button or focusing the cell and pressing Ctrl+Enter:

In [ ]:
print('Hello World!')

The code you run this way does not really run in your browser - it is sent to a remote program called a *kernel* running somewhere in the Google cloud which executes it and returns the result. Your browser just acts as a middleman relaying information between you and the kernel.

Of course, one problem of running Python code remotely is that you do not have access to the computer where it is actually run on.

What if you want to modify some files on the computer or download data?

Jupyter provides a way of interacting with the underlying operating system using shell commands (which are an alternative to the graphical user interface we normally use).

For example, if you want to download data to the remote computer, you can use the `wget` shell command by prepending an `!` in front of it:

In [ ]:
!wget http://speedtest.wdc01.softlayer.com/downloads/test10.zip

For now, that is everything you need to know about Jupyter Notebooks and Google Colaboratory. We can now turn our attention to learning the Python programming language.

# Basics

To get started with Python, let's look at a very simple Python program:

In [ ]:
x = 34 - 23
y = "Hello"
z = 3.45
if z == 3.45 or y == "Hello":
    x = x + 1
    y = y + " World"
print(x)
print(y)

The program consists of 8 statements and could also be run in this exact form on your local computer using the Python interpreter.

The interpreter would execute every line from top to bottom

Let's look at what each line does and at the same time introduce the most important concepts in Python.

### Variables

The first line `x = 34 - 23` assigns the result of `34-23` to the variable `x`.

Variables are **named references to objects** (or in other words placeholders for values with a name).

To create a variable, just assign a value to it using the assignment operator (`=`). In contrast to other languages, variables dont have to be declared before their use. Also, the type of the variable is determined automatically from the value it contains.

In [ ]:
x = 34 - 23

In [ ]:
x

### Data Types

The variable `x` is of type `integer` because it contains an integer number (1, 2, 3 and so on).

Python provides a series of different data types, for example numbers, strings (variable `y`), floats (variable `z`) and booleans.

In [2]:
y = 'Hello'
z = 3.45

You can check the current type of a variable using the `type()` function:

In [3]:
type(y)

str

![Variables](https://miro.medium.com/v2/resize:fit:1400/1*Px7h03Ih7B5QZu4KQpSEoQ.png)

Variables that have a number datatype can be used in any operation as if they were normal numbers:

In [4]:
print(z+2)
print(z-2)
print(z*2)
print(z**2)
print(z/2)
print(z//2)
print(z%2)

5.45
1.4500000000000002
6.9
11.902500000000002
1.725
1.0
1.4500000000000002

### `if` Statement

If you want to check the _value_ of a variable, you can use the `if` statement like this: `if z == 3.45:`. The code which follows this `if` statement and that is indented is then executed only if the variable `z` is equal to 3.45.

Note that the `==` operator **compares** the variables, the `=` operator **assigns** values to variables.

In [5]:
if z == 3.45:
  z = 2

In [6]:
z

2

`if` statements can contain multiple conditions which can be combined using the `or` and `and` operators: `if z == 3.45 or y == "Hello":`.

In [7]:
if z == 3.45 or y == 'Hello':
  z = 2

You can specify the order of logical operators using parentheses:

In [8]:
if z == 2 and (y == 'Hello' or z == 1):
  print("Yes!")

Yes!

### Comments

You can also add comments to Python code.

Comments represent text which is ignored by the interpreter. It starts with the `#` sign:

In [ ]:
if z == 3.45 or y == 'Hello':
  z = 2 # this is a comment which is ignored

Comments can also span multiple lines by using the triple `"` sign:

In [ ]:
if z == 3.45 or y == 'Hello':
  """
  This is a comment
  spanning over multiple lines
  and it is still ignored
  """
  z = 2

### `print` Function

For inspecting the current value of a variable, you might use the `print()` function:

In [ ]:
print(z)

## Exercises

### Exercise 1

Write a Python program that prints the result of `24 * 341`.

In [9]:
result = 24* 341
print(result)

8184

### Exercise 2

Write a Python program that calculates the length of the hypothenuse of a triangle with lengths 8 and 14 following the Pythagorean theorem.

In [19]:
side_a = 8
side_b = 14

sqr_sum = side_a ** 2 + side_b ** 2
res = sqr_sum ** 0.5 # Doble ** means raising a number to a power
print(res)

16.1245154965971

### Modifying Variables

Existing variables can be modified using the `=` operator.

For example, `x = x + 1` takes the value of `x` adds 1 and assigns the result back to `x`. This is the same as writing `x += 1`.

The `+` operator applied to strings concatenates them (joins them together): `y = y + " World"`.

In [20]:
y = y + ' World'

In [21]:
y

'Hello World'

### Converting Between Data Types

For converting between different data types, Python provides a number of built-in functions.

Converting from a string to a number can be done by using the `int()` function:

In [24]:
string = '23'
number = int(string)
number

23

In [23]:
type(number)

int

Similarly, the `str` and `float` functions can be used to convert to strings and floats respectively.

In [25]:
type(str(number))

str

In [26]:
type(float(number))

float

### User Input

For retrieving input from the user, use the `input()` function:

In [1]:
input_from_user = input()

In [28]:
input_from_user

'test'

In [29]:
type(input_from_user)

str

### String Interpolation

Often, you want to print variables to the screen but provide additional contextual information.

This can be achieved by converting the variables to string and then using the `+` operator (concatenation):

In [30]:
a = '2 * 10'
b = 20
print(str(a) + ' -> ' + str(b))

2 * 10 -> 20

However, this is hard to read and quite tedious which is why Python provides an easy way of mixing strings and other variables: *string interpolation*.

When writing an `f` in front of a string, you can then use curly brackets to access variables from within the string:

In [31]:
name = 'Peter'
program = 'Python'
print(f'Hello {name}! This is {program}')

Hello Peter! This is Python

## Exercises

### Exercise 1
Write a Python program that takes a name as input and then prints a greeting.

Examples:

```
Alex -> Hello Alex!
Zoe -> Hello Zoe!
```

In [33]:
name = input('Write your name: ')

greeting = f'{name} -> Hello {name}!'
greeting

'alejandro -> Hello alejandro!'

### Exercise 2
Write a Python program that converts hours (provided as input by the user) to seconds and prints the result.

Examples:
```
2 -> 7200
2.5 -> 9000
```

In [2]:
asdfghjkl = input("type a hour: ")
hours = float(asdfghjkl)
seconds = hours * 60 * 60

final_result = f'{hours} -> {seconds}'
final_result

'8.0 -> 28800.0'

### Exercise 3
Write a Python program that accepts an integer from the user and prints whether the number is positive or negative.

Examples:
```
2 -> positive
-6 -> negative
0 -> positive
```

In [8]:
input_3 = input('Write your number: ')

int_var = int(input_3)
if int_var >= 0:
    print('Positive')
else:
    print('Negative')

Positive

### Exercise 4
Write a Python program that accepts a positive integer from the user and prints whether the number is closer to 0, to 10 or equal distance.

Examples:
```
2 -> closer to 0
6 -> closer to 10
5 -> equal distance
```

In [12]:
input_4 = input('Write a number: ')

int_var4 = int(input_4)
#distance = 10

if int_var4 == 5:
    print('equal distance')
elif int_var4 < 5:
    print('closer to 0')
else:
    print('closer to 10')

closer to 0

### Exercise 5
Write a Python program that accepts an integer (`n`) and computes the value of `n+nn+nnn`.

Examples:

```
2 -> 246 (= 2 + 22 + 222)
5 -> 615 (= 5 + 55 + 555)
```

In [16]:
input_5 = input('Write yor number: ') # always it is a str
#type(input_5)

n_1 = int(input_5)
n_2 = int(input_5 * 2)
n_3 = int(input_5 * 3)
#n_1,n_2,n_3
total_sum = n_1 + n_2 + n_3

print(f'{input_5} -> {total_sum} (= {n_1} + {n_2} + {n_3})')

2 -> 246 (= 2 + 22 + 222)

# Data Structures

Data structures are special constructs for organizing and storing data in computers so that it can be used efficiently.

There are different data structures for different tasks which differ in the way that the data can be accessed and modified.

Data structures are typically built on top of the primitive data types we have already seen (number, float, string, boolean).

There are a number of different Python data structures (see [here](https://realpython.com/python-data-structures/)) but we will be taking a look at the four data structures which are most commonly used: lists, tuples, sets and dictionaries.

## Lists
Lists are **ordered** and **mutable** (changeable) sequences of objects.

Lists can be created using the square bracket notation:

In [17]:
# creates a list and assigns it to the 'lst' variable
lst = [1, 2, 3, 4, 'Hello', 'World']

In [18]:
print(lst)

[1, 2, 3, 4, 'Hello', 'World']

A list can contain objects of arbitrary type (the `lst` list contains numbers and strings but could also contain other lists).

In [19]:
[1, 2, 3, 'hi', [5, 6], []]

[1, 2, 3, 'hi', [5, 6], []]

When a list contains elements of the same type, it can be sorted using the `sort()` function:

In [20]:
lst = [1, 5, 3, 2, 4]

In [21]:
lst.sort()

In [22]:
lst

[1, 2, 3, 4, 5]

Lists are also **indexable**, i.e. one can use the square bracket notation on the list variable to access individual items in the list:

In [23]:
lst[1] # access item with index '1' (= second item)

2

Indexable data structures in Python can not only be indexed using positive integers (like above) but also with negative integers.

Negative integers index the list from the "other side", i.e. starting from the end of the list.

In [24]:
lst[-1] # retrieves the last element from the list

5

In [25]:
lst[-2] # retrieves the second to last element from the list

4

![](https://www.programiz.com/sites/tutorial2program/files/python-list-index.png)

The length of a list (i.e. the number of items in the list) can be retrieved using the `len()` function:

In [26]:
len(lst)

5

We can now verify that the list indexing works as expected:

In [27]:
lst[4] == lst[-1] # should be the same

True

Indexing can also be used not to retrieve a single element from the list but a subset of elements by using the `[start:end]` notation.

In [28]:
lst[1:4] # select all items from index 1 to index 4

[2, 3, 4]

To select everything to the end of the list, the `end` index can also be omitted:

In [29]:
lst[1:]

[2, 3, 4, 5]

Similarly, the `start` index can be omitted to select all items starting from the beginning:

In [30]:
lst[:3]

[1, 2, 3]

Selecting everything from start to finish is also possible:

In [31]:
lst[:]

[1, 2, 3, 4, 5]

Selecting subsets of items also works using negative indexing:

In [32]:
lst[-4:-2]

[2, 3]

In [33]:
lst[-2:]

[4, 5]

In [ ]:
lst[:-2]

Aside from lists, strings are also indexable in this way:

In [34]:
string = 'This is a string'

In [35]:
string[0]

'T'

In [36]:
string[4:]

' is a string'

In [37]:
string[-6:]

'string'

Lists are **mutable**, that means that individual items can be changed after the list is created.

This is done using the assignment operator (just as with variables):

In [38]:
lst[1] = 3

To add an additional element to the end of a list, one can use the `append()` method:

In [39]:
lst.append(2)

To append another list, use the `+` operator:

In [40]:
lst + [1, 2]

[1, 3, 3, 4, 5, 2, 1, 2]

To remove an item, use the `remove()` method:

In [41]:
lst.remove(2)

However, note that this method removes the first element based on its **value** and not on its index.

To delete the first element in the list without knowing its value use the `del` keyword or the `pop()` function:

In [42]:
del lst[0] # or use lst.pop(2)

In [43]:
lst

[3, 3, 4, 5]

## Tuples
Tuples are **ordered** and **immutable** (unchangeable) sequences of objects.

They can be created using round brackets:

In [44]:
tpl = (1, 2, 3, 4, 'Hello', 'World')

In [45]:
print(tpl)

(1, 2, 3, 4, 'Hello', 'World')

Alternatively, a tuple can be created from an existing list using the `tuple()` function:

In [47]:
tpl = tuple(lst)
tpl

(3, 3, 4, 5)

The same can be done for lists using the `list()` function:

In [49]:
lst = list(tpl)
lst

[3, 3, 4, 5]

Tuples are also **indexable**, i.e. one can use the square bracket notation to access individual items in the tuple:

In [50]:
tpl[1] # access item with index '1' (= second item)

3

However, in contrast to lists, tuples are not changeable:

In [51]:
tpl[2] = 3 # doesnt work

TypeError: 'tuple' object does not support item assignment

To change an individual item of a tuple, it first has to be converted to a list:

In [52]:
lst = list(tpl)
lst[1] = 'Hello'
tpl = tuple(lst)
print(tpl)

(3, 'Hello', 4, 5)

However, note that this operation is very inefficient, so if you want to change elements just use a list from the beginning.

## Sets
Sets are **unordered**, **unindexable** and **immutable** collections of objects (think of a "bag").

They can be created using the curly bracket notation or using the `set()` function:

In [53]:
st = {1, 2, 3, 4, 'Hello', 'World'}

In [54]:
print(st)

{'World', 1, 2, 3, 4, 'Hello'}

In [55]:
set(lst)

{3, 4, 5, 'Hello'}

While the length of a set can be determined as before:

In [56]:
len(st)

6

They cannot be indexed:

In [57]:
st[1] # doesnt work

TypeError: 'set' object is not subscriptable

Elements can be added to a set using the `add()` and `remove()` functions:

In [58]:
st.add(6)

In [59]:
print(st)

{'World', 1, 2, 3, 4, 6, 'Hello'}

In [60]:
st.remove(6)

In [61]:
print(st)

{'World', 1, 2, 3, 4, 'Hello'}

Also, a set cannot contain duplicate values:

In [62]:
st = {1, 2, 3, 4, 'Hello', 'World', 4, 2}

In [63]:
st

{1, 2, 3, 4, 'Hello', 'World'}

## Dictionaries
Dictionaries are **ordered** (were unordered in Python <= 3.6) and **mutable** collections of objects which can be indexed by an **arbitrary key** (hashable).

They can be created using the curly brackets and specifying the value for each key:

In [64]:
dct = {'a': 1, 'b': 2, 3: 'c'} # key: value format

For indexing the dictionary, the specified key is now used and **not** the actual index:

In [65]:
dct['a']

1

In [66]:
dct[3]

'c'

Their length can be determined again using the `len()` function:

In [67]:
len(dct)

3

Changing items can be done using the assignment operator:

In [68]:
dct[3] = 'x'

Aside from the four data structures lists, tuples, sets and dictionaries discussed above, the are two additional data structures: stacks and queues.

## Stacks (advanced)
Stacks are last-in-first-out (LIFO) data structures.

![](https://upload.wikimedia.org/wikipedia/commons/8/8c/Stack-sv.png)

In Python, the list data structure also provides the functionality of the stack data structure using the `append()` and `pop()` function:

In [69]:
lst.append(2) # push

In [70]:
lst.pop()

2

## Queues (advanced)
Queues are first-in-first-out (FIFO) data structures.

![](https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Data_Queue.svg/640px-Data_Queue.svg.png)

While in theory, lists can also be used as queues by inserting at the beginning and popping at the end, this is not efficient.

Instead, Python provides a dedicated queue data structure which has to be imported from the `collections` module: the double-ended queue

In [71]:
from collections import deque

It can then created by calling the `deque()` function:

In [72]:
queue = deque([1, 2, 3, 4])

Now, the queue can be appended to using the `append()` method:

In [73]:
queue.append(5)

In [74]:
queue.append(6)

In [75]:
queue

deque([1, 2, 3, 4, 5, 6])

To remove items from the queue, use the `popleft()` method:

In [76]:
queue.popleft()

1

In [77]:
queue

deque([2, 3, 4, 5, 6])

## Exercises

### Exercise 1
Write a Python program that prints the smallest element from an unsorted list of integers.

Examples:
```
[4, 2, 6, 7, 1] -> 1
[3, 6, 3, 1, -3] -> -3
```

In [ ]:
import random

lista = list(range(1,21))
random.shuffle(lista)
unsorted_list = lista
print(unsorted_list)


unsorted_list.sort()
unsorted_list[0]

[3, 14, 18, 15, 17, 1, 12, 8, 7, 5, 16, 6, 13, 19, 2, 20, 10, 11, 9, 4]

1

In [96]:
N = len(unsorted_list)

# The Main Idea: Go through the list, one position at a time (index i)
for i in range(N - 1):
    
    # 1. Assume the number at position 'i' is the smallest one we've seen so far
    smallest_num_index = i 
    
    # 2. Check all the numbers AFTER 'i' (index j) to see if any are truly smaller
    for j in range(i + 1, N):
        
        # This is the CORE COMPARISON:
        if unsorted_list[j] < unsorted_list[smallest_num_index]:
            
            # If we find a smaller number, remember its position
            smallest_num_index = j 
            
    # 3. Swap: Put the smallest number you found (at smallest_num_index) 
    # into the position where you started looking (index i)
    
    # Simple Python swap:
    unsorted_list[i], unsorted_list[smallest_num_index] = unsorted_list[smallest_num_index], unsorted_list[i]

print("Sorted List:", unsorted_list)

Sorted List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Exercise 2
Write a Python program that takes a string as input and prints the value for that key in a dictionary.

Examples:
```
dict: {'Peter': 32, 'Max': 18, 'Seb': 56}
Max -> 18
```

In [102]:
new_dic = {'Alejandro':18,'Andres':27,'Andre':23}
input_dic = input('Write a key: ')
result = new_dic[input_dic]
print(f'{input_dic} -> {result}')

Alejandro -> 18

### Exercise 3
Write a Python program that swaps the first and second half of a given list.

Examples:
```
[4, 2, 4, 1] -> [4, 1, 4, 2]
[3, 6, 3, 1, -3] -> [1, -3, 3, 3, 6]
```

# Control Flow Statements

The control flow refers to the order in which individual instructions are executed.

The control flow can be regulated using **control flow statements**.

Control flow statements can be divided into conditional statements (`if`), loops (`for` and `while`) and function calls.

## `if` Statements

To execute some piece of code only when a certain condition holds true, the `if` statement can be used.

For example, a program which takes an integer as input and outputs whether the integer is smaller than, equal to or larger than `10` might look as follows:

In [ ]:
a = int(input('Input integer: '))

if a < 10:
  print('smaller than 10') # only executed when a < 10
elif a == 10: # short for else if
  print('equal 10') # only executed when a == 10 (and NOT a < 10)
else:
  print('bigger than 10') # only executed when the two conditions above were not met

## `while` Loops

The `while` statement can be used when a piece of code should be executed **as long as** a certain condition is met:

In [ ]:
a = 0
while a < 10:
  a += 1
  print(a)

If the `while` loop should be exited prematurely, the `break` statement can be used:

In [ ]:
a = 0
while a < 10:
  a += 1
  print(a)
  break

## `for` Loops

`for` loops repeat a piece of code one time for every element in the `iterable` that is iterated.

An iterable is an object that can be iterated (e.g. lists, strings, dictionaries, etc.)

For example, if you have a list like this:

In [ ]:
a = ['Hello', 'World', 'to', 'all', 'of', 'you']

You can then use the `for` statement to iterate over all the elements in the list:

In [ ]:
for el in a:
  print(el) # the 'el' variable holds the value of the current iteration

The same holds true for tuples:

In [ ]:
for el in tuple(a):
  print(el)

And for sets (note though that the order is not retained):

In [ ]:
for el in set(a):
  print(el)

When iterating dictionaries, by default only the keys are iterated:

In [ ]:
b = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [ ]:
for el in b:
  print(el)

For iterating over the values, you can use the `values()` method:

In [ ]:
for el in b.values():
  print(el)

Alternatively, if you want to iterate over keys and values at the same time, call the `items()` method first:

In [ ]:
for el in b.items(): # iteration over list of tuples
  print(el)

### `range` Function

A common task is iterating over a sequence of integers (i.e. over all integers from 0 to 10).

This could be achieved by first creating a list containing the integers and then iterating this list:

In [ ]:
lst = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
for el in lst:
  print(el)

However, this is very inconvenient (what if we want to iterate 100 or 1000 integers?).

Python provides the built-in `range()` function which makes iterating over sequences of integers much easier:

In [ ]:
for el in range(10):
  print(el)

You can also specify from which integer the iteration should start:

In [ ]:
for el in range(4, 10):
  print(el)

And in which steps the integers should be generated:

In [ ]:
for el in range(0, 30, 3):
  print(el)

## Exercises

### Exercise 1
Write a program that takes an integer `n` as input and prints all the numbers from 5 (inclusive) to `n` (inclusive).

Examples:
```
7 -> 5, 6, 7
10 -> 5, 6, 7, 8, 9, 10
```

### Exercise 2
Write a program that prints every second element of a list.

Examples:
```
[0, 1, 2, 3, 4, 5, 6] -> 0, 2, 4, 6
[0, 2, 4, 6] -> [0, 4]
```

### Exercise 3
Write a program that counts the occurrence of each element in a list.

Note: you can check whether a value is contained in a list or dictionary using the `in` keyword.

Examples:
```
[0, 1, 2, 1, 3, 2] -> {0: 1, 1: 2, 2: 2, 3: 1}
[1, 2, 2, 2, 1, 2] -> {1: 2, 2: 4}
```

# Functions

So far, we have used a number of different built-in functions of the Python language (`print`, `range`, etc.).

If we want to reuse pieces of code that provide a functionality, we can implement our own functions.
This is accomplished using the `def` keyword followed by a function name and the function body:

In [ ]:
def function_name():
  print('Hello')

Once a function is defined, it can be called like any other function:

In [ ]:
function_name()

The interpreter will then "jump" to the function implementation, execute the code contained there and then "jump" back.

In most cases, the custom functions we define require some input to provide their functionality. The inputs which are required by the function have to be specified as arguments when defining the function:

In [ ]:
def function_name(input_1, input_2):
  print(f'Hello {input_1} and {input_2}')

When calling the function, these then have to be specified:

In [ ]:
function_name('Peter', 'Max')

In [ ]:
function_name('Zoe', 'Amanda')

If you want to use the values calculated in a function, you can use the `return` keyword to return it back to the caller

In [ ]:
def add(input_1, input_2):
  return input_1 + input_2

In [ ]:
result = add(2, 3)

In [ ]:
result

## Keyword Arguments

The function we defined above implicitly used *positional* arguments as the order of the parameters we passed to the function mattered.

Python also supports *keyword* arguments where the order does not matter:

In [ ]:
function_name(input_2 = 'Peter', input_1 = 'Max')

## More Arguments

On top of the keyword arguments from above, Python supports two special kinds of arguments.

If you want to provide an arbitrary number of positional arguments to a Python function, use the special `*argument` name (only the `*` is special, you can use any word afterwards):

All passed positional parameters are then contained in a tuple called `argument`.

In [ ]:
def add(*numbers):
  output = 0
  for number in numbers:
    output = output + number
  print(output)

In [ ]:
add(1, 2, 3, 4, 5, 6, 7)

Similarly, to provide an arbitrary number of keyword arguments use the `**arguments` notation:

The keyword arguments are then contained in a dictionary called `arguments`.

In [ ]:
def function(first_argument, **args):
  print(first_argument)
  print(args)

In [ ]:
function(10, second_argument=23, third_argument='hi')

Of course, you can also combine all of these:

In [ ]:
def calculate(first_argument, second_argument, *numbers, **args):
  if args['operator'] == '+':
    return first_argument + second_argument + sum(numbers)
  elif args['operator'] == '-':
    return first_argument - second_argument - sum(numbers)

In [ ]:
calculate(1, 2, 3, 4, 5, operator = '+')

## Default Values

You can also specify default values for arguments in the function definition:

In [ ]:
def function_name(input_1 = 'Peter', input_2='Max'):
  print(f'Hello {input_1} and {input_2}')

Then you can call the function without passing any parameters which will use the default values:

In [ ]:
function_name()

To override the default value, the parameters can still be passed during the function call:

In [ ]:
function_name('Amanda')

# Classes

In Python, classes are a way of combining data (variables) and functionality (functions) into one unit.

This is the main concept behind **object-oriented programming** which is of great importance in traditional software engineering but can not be discussed in detail here.

For more information, please see [this article](https://realpython.com/python3-object-oriented-programming/).

You can define a class using the `class` keyword:

In [ ]:
class MyClass:
  variable_1 = 'Hello' # instance variables
  variable_2 = 'World'

  def print_hello(self, argument_1): # self is a special keyword because it provides access to the current instance
    print(f'{self.variable_1} {self.variable_2} to {argument_1}!')

The variables contained in these classes are called *instance variables* because they are tied to an individual instance of that class.

Then, you can create a new instance of the class (the class is just a blueprint) using its **constructor**:

In [ ]:
clss = MyClass() # this is a constructor call, it looks like a function but creates a new instance
clss.print_hello('Max') # call the method on the object using the '.' notation

# Exception Handling

A Python program can, even if it is syntactically correct, cause errors when it is executed.

For example, a program that takes input from a user and tries to convert it to an integer fails when the user inputs a string:

In [ ]:
inpt = input()
inpt = int(inpt)

To handle these exceptions, you can use the `try` and `except` keywords as follows:

In [ ]:
try:
  inpt = input()
  inpt = int(inpt)
except Exception as exct: # provides information about the exception in the exct variable
  print(f'Failed with exception: {exct}')

## Exercises

### Exercise 1
Write a program that takes an input provided by the user and then prints the type of the input.

Examples:
```
7 -> integer
10.2 -> float
hello -> string
```

### Exercise 2
Write a function that takes an operation, an arbitrary number of arguments and computes the results.

Examples:
```
calculate('add', 3, 4, c=5, d=10) -> 22
calculate('multiply', 3, 2, c=3) -> 18
```

# Modules & Packages

All of the functionality we have used so far was implemented by us or provided by Python.

Only when using the queue data structure using the `from collections import deque` statement, we had to use something called a **module**.

A module is a standalone Python file which contains code and can be imported using the `import` command.

Create a new Python file `my_module.py` using the file explorer on the left of the Colab environment and write the following function into the file:

In [ ]:
def print_hello():
  print('Hello')

This function can now be used by first importing the module and then calling the function on it:

In [ ]:
import my_module
my_module.print_hello()

Alternatively, you can directly import the function as follows:

In [ ]:
from my_module import print_hello
print_hello()

A collection of modules is called a **package**.

Python provides many modules and packages for performing a variety of tasks (see [here](https://docs.python.org/3/library/)).

For example, the `os` module provides functions for interacting with the operating system:

In [ ]:
import os
os.uname() # Return information about the current operating system

The `math` module gives access to the underlying C library functions for floating point math:

In [ ]:
import math
math.cos(math.pi / 4)

To find more information which packages exist and how to use them, refer to the [Python standard library documentation](https://docs.python.org/3/library/index.html).

Aside from the modules and packages provided by Python (the **standard library**), the Python community has developed many more packages for even more functionality.

These packages are published on the python package index (see [here](https://pypi.org/)) and have to be installed using the `pip` tool.

In Google Colab, pip can be used as follows:

In [ ]:
!pip install wikipedia # install the 'wikipedia' package

Just as before, the module can now be imported and used:

In [ ]:
import wikipedia
result = wikipedia.page("Anne,_Queen_of_Great_Britain")
print(result.summary)

To see how the package is used and what functionality it provides, head over to the documentation which is typically found on the [PyPi package site](https://pypi.org/project/wikipedia/).

Important: If you want to succeed at programming, you must be good at **reading documentation**!

## Exercises

### Exercise 1
Create a Python `Calculator` class that has the functions `add()`, `subtract()`, `multiply()` and `divide()`.

Examples:
```
calc = Calculator()
calc.add(5)
calc.multiply(10)
calc.subtract(15)
calc.divide(7)
--> 5
```

### Exercise 2
Search for the Python module `random` in the standard library and use it to generate 100,000 random numbers between 1 and 10. Then count how they are distributed.
Note: `[].count(el)` is an easy way to count the occurrences of an element in a list.

### Exercise 3
Install the `psutil` package from PyPi and use it to find out how many CPUs the server running your kernel has.

Tip: use the packages' documentation.

### Exercise 4
Think of a topic or field that interests you and try to find a package that provides data or other services in this field. Use the library to answer a question that interests you.

Examples:
- Air traffic data
- Vessel traffic data
- Economics
- Astronomical calculations

Hopefully, you now know the basics of Python and can use it to implement some simple programs on your own.

# Session Exercises

### Exercise 1
Write a program that takes two words (first the correct word, second the guess) as input and conducts a wordle check:

![wordle.png]()

Examples:
```
correct: house
guess:   mouse -> -++++

correct: house
guess:   table -> ----+

correct: words
guess:   storm --> ~-~~-
```

### Exercise 2
Write a program that caesar chiffres an input provided by the user.

Note: you can calculate the remainder of a division using the modulo operator `%`. You can get the position of a character in a string using the `str.index(char)` function.
![](https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Caesar3.svg/640px-Caesar3.svg.png)

Examples:
```
offset: 3
hello -> khoor

offset: 45
world -> phkew
```

# Additional Resources

The content we discussed in this workshop only scratches the surface of Python.

Here are some additional resources you can look at if you need more information or are just interested:
### General
*   [Introduction to Colab, Python, Numpy and Matplotlib (Notebook)](https://colab.research.google.com/github/cs231n/cs231n.github.io/blob/master/python-colab.ipynb#scrollTo=cYb0pjh1L9eb)

### Jupyter Notebook & Google Colaboratory
*   [Introduction to Colab (YouTube)](https://www.youtube.com/watch?v=inN8seMm7UI)
*   [Overview of Colab (Notebook)](/notebooks/basic_features_overview.ipynb)
*   [Jupyter Notebook Documentation](https://jupyter.org/documentation)

*   [Markdown Guide](/notebooks/markdown_guide.ipynb)
*   [Installing and Importing Libraries (Notebook)](/notebooks/snippets/importing_libraries.ipynb)
*   [Saving and Loading Notebooks in GitHub (Notebook)](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)
*   [Interactive Forms (Notebook)](/notebooks/forms.ipynb)
*   [Interactive Widgets (Notebook)](/notebooks/widgets.ipynb)
*   [Loading Data from Drive, Tables and Google Cloud Storage (Notebook)](/notebooks/io.ipynb)